body {
    margin: 0;
    font-family: 'Slabo 27px', serif;
    font-size: 14px;
    padding-top: 70px;
}

* { /*  padding e border não são adicionados na largura - não sou boa em matematica para calcular tanta div junta*/
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
  color: #1697fb;
}

footer {
  text-align: center;
  color: white;
  margin-top: 40px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.conteudo {
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 15px;
}

.conteudo:after { /*Mantém o rodapé lá em baixo.*/
  display: table;
  content: " ";
  clear: both;
}

.margem {
    margin-left: 5%;
    margin-right: 5%;
}

.menu-superior {
    position: fixed;
    background-color:  black;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding-bottom: 15px;
}

.fonte-superior {
    float: right;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 1.2em;
}

.banner img {
    border: 1px groove blue;
    width: 100%;
    border-radius: 6px;
    margin-bottom: 20px;
  }

.texto-direita {
    text-align: right;
}

.texto-esquerda {
    text-align: right;
}

.texto-centro {
    text-align: center;
}

.texto-produto{
  color: #0b63f6;
}

.texto-mais-detalhes {
  text-align: right;
  color: red;
  font-weight: bold;
  margin-right: 10px;
}

.topo-menu {
    font-family: 'Anton', sans-serif;
    color: black;
    text-align: center;
    font-size: 1.6em;
}

.caixa-menor {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 25%;
}

.caixa-pequena {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 33.33333%;
}

.caixa-media {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 75%;
}

.caixa-grande {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
}

.item-menu {
      display: block;
      text-align: center;
      color: black;
      background-color: #fff;
      border: 1px groove;
      font-family: 'Anton', sans-serif;
      font-size: 2vmin;
      margin-left: 15%;
      margin-right: 15%;
  }

.miniaturas {
      display: block;
      padding: 0px;
      margin-bottom: 20px;
      border-radius: 4px;
  }

.miniaturas img {
    width: 100%;
  }

.detalhes {
      padding: 4px;
      border-top: 1px groove;
      height: 240px;
      overflow: hidden;
      border: 1px groove blue;
      border-radius: 4px;
      margin-bottom: 50px;
  }

.detalhes-conteudo {
      text-align: left;
      margin-right: 10px;
      margin-left: 10px;
  }

.fundo-rodape {
  background-color: black;
}

.modal {
position: fixed;
font-family: Arial, Helvetica, sans-serif;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: rgba(0,0,0,0.8);
z-index: 99999;
opacity:0;
-webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
pointer-events: none;
}

.modal:target {
opacity:1;
pointer-events: auto;
}

.modal > div {
width: 400px;
position: relative;
margin: 10% auto;
padding: 5px 20px 13px 20px;
border-radius: 10px;
background: #fff;
background: -moz-linear-gradient(#fff, #999);
background: -webkit-linear-gradient(#fff, #999);
background: -o-linear-gradient(#fff, #999);
}

.fechar {
background: #606061;
color: #FFFFFF;
line-height: 25px;
position: absolute;
right: -12px;
text-align: center;
top: -10px;
width: 24px;
text-decoration: none;
font-weight: bold;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
-moz-box-shadow: 1px 1px 3px #000;
-webkit-box-shadow: 1px 1px 3px #000;
box-shadow: 1px 1px 3px #000;
}

.fechar:hover {
  background: black;
}

.centralizar {
    display:         flex;
    display: -webkit-flex; /* Garante compatibilidade com navegador Safari. */
    justify-content: center;
    align-items: center;
}

.fonte-branca {
  color: white;
}
